<div class="top-notification-wrapper"><div class="top-notification">
        <a target="_blank" class="top-notification__text">
                Flat Rs.100 Cashback | Code: HAPPY100 | Min Order: Rs.1500
            </a>
        </div>
</div>

<div class="nav-bar-cus">
        <div class="row">
          <div class="logo-div">
            <a href="" class="company-logo">
            <img alt="logo" class="logo" src="/assets/images/ng-comp.webp">
        </a>
        </div>
          
        </div>
        <div class="location-dropdown">
            
        </div>
</div>


