<div class="dropdown">
        <a class="dropdown-toggle waves-effect waves-light cus-location" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-map-marker cus-map-location" aria-hidden="true"></i>Location</a>
        <div class="dropdown-menu dropdown-primary location-selection">
             <div class="location-sub-conatiner-1">
                    <p class="">Where do you want the delivery?</p>
             </div>
             <div class="selected-city">
                <div></div>
                <div class="img-for-selected-city">
                   <img class="selected-img" src="/assets/images/kolkata-f960233.webp" />
                </div>
                <div class="selected-city-name">
                   <p class="city-text">Deliver in <span class="city-name">Kolkata</span><i class="fa fa-chevron-right fa-3 pull-right grater-icon-cus" aria-hidden="true"></i></p>
                </div>
             </div>
             <div class="location-container-seperator">
                <div class="location-seperator-content">
                   <div class="seperator-line-between">
                      <span class="text-btwn-line">Or Select your city</span>
                   </div>
                </div>
             </div>
             <div class="city-asking-text">
                <p>Top Searched Cities</p>
                <div class="top-selected-images">
                   <div class="top-selected-images-1">
                      <img class="top-city" src="/assets/images/bengaluru-78062ed.webp" />
                      <span class="top-city-name">Bengaluru</span>
                   </div>
                   <div class="top-selected-images-1">
                      <img class="top-city" src="/assets/images/delhi-8cb9a0a.webp" />
                      <span class="top-city-name">Delhi</span>
                   </div>
                   <div class="top-selected-images-1">
                      <img class="top-city" src="/assets/images/gurugram-dcd6b56.webp" />
                      <span class="top-city-name">Gurugram</span>
                   </div>
                   <div class="top-selected-images-1">
                      <img class="top-city" src="/assets/images/hyderabad-bafc7e9.webp" />
                      <span class="top-city-name">Hyderabad</span>
                   </div>
                   <div class="top-selected-images-1">     
                      <img class="top-city" src="/assets/images/kolkata-f960233.webp" />
                      <span class="top-city-name">Kolkata</span>
                   </div>
                   <!-- <form class="navbar-form" role="search"> -->
                   <div class="city-search-container">
                      <div class="input-group city-input-text-area border">
                         <div class="input-group-prepend border-0">
                            <button id="button-addon4" type="button" class="btn btn-link text-info"><i class="fa fa-search"></i></button>
                         </div>
                         <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon4" class="form-control bg-none border-0">
                      </div>
                      <div class="city-detect-div input-group-prepend">
                         <!-- <input type="button" class="form-control bg-none border-0" />  -->
                         <span class="detect-button-icon fa fa-location-arrow"></span>
                         <span class="detect-text">Detect</span>
                      </div>
                   </div>
                   <!-- </form> -->
                </div>
             </div>
        </div>
     </div>