

<div class="main-banner-wrapper">
    <div class="main-banner-img-wrapper" id="main-banner-img-wrapper">
        
        <ngb-carousel *ngIf="images">
            <div *ngFor="let image of images;let i= index" >
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img src="{{image.image}}" alt="Random first slide">
                      </div>
                </ng-template>
            </div>         
        </ngb-carousel>
    </div>
</div>
      